.show-grid {
  padding: 0px 10px 10px 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  column-gap: 10px;
}

.show-image {
  width: 112px;
}

.show-item {
  padding: 4px; 
  background-color: #f5f5f5;
  border: solid 1px #dddddd;
  transition: all 0.2s;
  cursor: pointer;
}

.show-item:hover {
  box-shadow: 0px 0px 10px 1px #ed1c234b;
  transition: all 0.2s;
}

.displayType-applied {
  box-shadow: 0px 0px 10px 1px #ed1c231e;
  border-color: #ed1c24
}

#previewOption {
  border: 1px solid #ddd;
  width: 100%; 
  max-width: 1200px;
  box-sizing: border-box;
}